.header{
  text-align: center;
  border: 1px solid;
}
.buttonBuy{
  color: aliceblue;
  background-color: aquamarine;
}
.buttonBuy:hover{
  color: aquamarine;
  background-color: aliceblue;
}

.loader {
  margin: 20px 0 10px 50%;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 10px solid #3498db;
  width: 60px;
  height: 60px;
  align-items: center;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
