<div class="loader" *ngIf="loadFlag == true" ></div>
<div *ngIf="loadFlag == false" >
<h1 class="header" *ngIf="flag == true"> products In this Catagory </h1>
<h1 class="header" *ngIf="flag == false"> No products Available In this Catagory </h1>
<div>
  <div>
    <ol>
      <li style="padding:  10px 10px 10px 10px;" *ngFor="let item of product"><span *ngIf="item.name"> {{item.name}} <button class="buttonBuy"> Buy </button> </span></li>
    </ol>
    <!-- <h2 *ngIf="!item.name"> No products Available in this Catogory</h2> -->
  </div>
</div>
</div>
