<div class="loader" *ngIf="loadFlag == true"></div>
<div *ngIf="loadFlag == false" >
<h1 style="text-align: center;"> Choose Catgory </h1>
  <div class="column" *ngFor="let item of listItem; let i = index" style="padding: 10px 10px 10px 10px;">
    <div class="card" (click)="showProduct(item)">
      <h3 class="title">{{ item.name }}</h3>
    </div>
  </div>
</div>
